@use 'base/variables' as v;
@use 'base/mixins' as m;

.repartidores {

    padding: v.$separacion 0;
    &__heading {
        color: v.$secundario;
        text-align: center;
    }
    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion);
        }
    }
    &__imagen {
        display: flex;
        align-items: center;
    }
    &__repartidor {
        width: 100%;
        object-fit: cover;
    }
    &__contenido {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include m.tablet {
            align-items: flex-start;   
        }
    }
    &__texto {
        color: v.$secundario;
        line-height: 1.5;

        &:last-of-type {
            margin-top: 0;
        }
    }
    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        width: auto;
    }

}